body{
    margin: 0px;
    background-image: url(Background/background6.jpg);
}
#logo{
    position: absolute;
    height: 40px;
    margin-left: 20px;
}
#webName{
    margin-left: -810px;
}
#webName a{
    font-family: sans-serif;
}
#header ul{
   padding-left: 850px;
   background-color: rgba(10,10,10,0.7);
   margin-top: 0px;
     
}
#header ul li{
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
    height: 30px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
   
}
#header ul li a{
    text-decoration: none;
    color: white;
}
#header ul li:hover{

    text-decoration: underline;
}
/*************************************************body***********************************************************************************/
.discover{
    color: white;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 2px;
    font-family: 'Lobster', cursive;
    position: absolute;
    transform: translate(600px,10px);
}
.discover a{
   
}
.intro{
    color: white;
     font-family: 'Lobster', cursive;
    position: absolute;
    font-size: 70px;
    letter-spacing: 3px;
    transform: translate(410px, 60px);
    border-top : solid;
    border-bottom: solid;
    
}
.quote{
    color: white;
    font-family: 'Slabo 27px', serif;
    position: absolute;
    font-size: 35px;
    
    transform: translate(50px,250px)
}
#before{
    height: 40px;
    width: 5px;
    background-color: orange;
    margin-left: -20px;
}
#body{
    margin-top: 50px;
}
#button{
    font-size: 25px;
    text-decoration: none;
    color: white;
    background-color:#3E3323;
    padding: 10px;
    border-radius: 20px;
    border-color: grey;
    border-style: groove;
    position: absolute;
    margin-top: 400px;
    margin-left: 600px;
    transition: 0.3s;
}
#button:hover{
    transform: scale(0.96);
    background-color:#3E3323;  
}

/*************************************************FOOTER*********************************************************************************/
#social{
    float:right;
    margin-right: 30px;
    margin-top: 350px;
}
.list_2 {
    list-style: none;
}
.list_2 li {
    font-size: 20px;
    text-align: center;
    padding: 8px 0px;
    height: 20px;
    width: 40px;
    background-color: #99adef;
}
.list_2 li a {
    color: #fff;
}

li.fb {
    background-color: #3b5998;
     transition-duration: 0.3s;
}
li.tw {
    background-color: #0084b4;
      transition-duration: 0.3s;
}
li.yt {
    background-color: #bb0000;
      transition-duration: 0.3s;
}
li.ins {
    background-color: #ffc838;
      transition-duration: 0.3s;
}
li.link {
    background-color: #0077B5;
      transition-duration: 0.3s;
}
li.fb:hover{
    transform: scale(1.1);
   
}
li.fb:hover{
    transform: scale(1.1);
   
}
li.yt:hover{
    transform: scale(1.1);
   
}
li.tw:hover{
    transform: scale(1.1);
   
}
li.link:hover{
    transform: scale(1.1);
   
}
li.ins:hover{
    transform: scale(1.1);
   
}